body{
    background: url("../images/white-background.png");
}
.navbar-default{

    background-color: #ed2a53;
    color:White;
    font-style: normal;
    font-family: "Arial Black";

}
.navbar-default .navbar-brand {
    color: White;
    opacity: 1;
    font-style: normal;
    font-family: "Arial Black";
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color:white;
    background-color: #ed0f1e;
}
.navbar-default .navbar-nav > li > a {
    color: White;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffae11;
    border-bottom: solid;
}

.form-control {
    margin-bottom:10px;
    width:120px;
}
.popover {
    max-width:400px;
}